#gatos img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

#gatos {
  width: 350px;
  height: 5500px;
  margin-top: 20px;
  padding: 6px;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: #666;
}

#input-filtro {
  width: 270px;
}
